$primary-color: #FED766;
$secondary-color: #636D86;
$black-color: #090C08;
$white-color: #FAFAF5;
$Bold: 700;

footer {
    a {
        color: $white-color;
        padding-bottom: 15px;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
            color: $secondary-color;
        }
    }
    color: $white-color;
    display: flex;
    background-color: $black-color;
    padding: 95px 0 105px 0;
    .bgBleu {
        border: none;
        padding: 5px 10px;
        margin-left: 25px;
        rotate: calc(-5.41deg);
        text-decoration: none;
        font-family: "Oswald";
        font-weight: $Bold;
        font-size: 24px;
        &:hover {
            text-decoration: underline;
            color: $white-color;
            font-family: "Oswald";
            font-weight: $Bold;
            font-size: 24px;
        }
    }
}

#ContactFooter {
    padding-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #linkLogo {
        width: 22%;
        margin-top: 15px;
        margin-left: 205px;
        &:hover {
            filter: brightness(0.75);
        }
    }
    #avionFooter {
        margin-left: -25px;
    }
}

#navFooter {
    padding-right: 200px;
}


@media (max-width: 480px) {

    footer {
        #ContactFooter {
            padding: 0;
            #linkLogo {
            display: block;
            margin: 25px auto 100%;
            width: 90%;
            }
            
        }
        .bgBleu {
            margin: 0;
        }
        #ContactFooter #avionFooter {
            width: 80%;
            margin-left: -150px;
        }
        display: flex;
        flex-direction: column-reverse;
        padding: 10px 0 0 0;
        #cv {
            display: flex;
            justify-content: center;
            padding: 0 0 50px 0;
            margin: 0;
        }
        #navFooter, #listeProjet {
            width: 100%;
            text-align: center;
            margin: auto;
            ul {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0;
                li {
                    width: fit-content;
                }
            }
        }
    }


}