@use 'variables' as *;

h1 {
    width: 100vw;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;  /* centre verticalement si besoin */
    flex-direction: column; /* important pour mobile */
}

.desktop { 
    display: block; 
    max-width: 1400px; 
    width: 100%; 
    height: auto; 
}

.mobile { 
    display: none; 
}

.hero {
    p {
        width: 40%;
        margin: 0 auto;
        color: $white-color;
        margin-top: 10px;
        text-align: center;
    }
    a {
        padding: 8px 20px;
        text-align: center;
        background-color: $secondary-color;
        color: $white-color;
        border-radius: 14px;
        margin: 50px auto 0;
    }
}




@media (max-width: 480px) {
  img.desktop { display: none !important; }
  img.mobile  { 
    display: block !important;
    width: 90vw;    /* prend presque toute la largeur du téléphone */
    max-width: none !important; /* supprime toute limite héritée */
    height: auto;
    margin: -70px auto 0 ;             /* centre horizontalement */
  }
  .hero {
    p {
        width: 80%;
    }
  }
}
