
// Fonts //

$ExtraLight: 200;
$Light: 300;
$Regular: 400;
$Medium: 500;
$SemiBold: 600;
$Bold: 700;

// Couleurs //
$primary-color: #FED766;
$secondary-color: #636D86;
$black-color: #090C08;
$white-color: #FAFAF5;
